@import '../../../../public/mixin/index.module'
  
.aside
  background: #3F51B5
  border: solid 1px #f1f1f1
  color: white
  height: 100vh
  position: absolute
  width: 0
  z-index: 1

  &__title
    margin-left: 20px
    overflow: hidden

  &__button
    background-color: #3f51b5
    border-bottom-right-radius: 5px
    border-top-right-radius: 5px
    cursor: pointer
    margin: 0 -30px
    padding: 7px
    position: absolute

  &__words
    height: 0
    overflow: hidden

  &__lession
    border-bottom: solid 1px #f1f1f1
    cursor: pointer
    list-style: none

    &:first-child
      border-top: solid 1px #f1f1f1

  &__lessions
    margin: 0
    padding: 0
    overflow: hidden

  &__lession_title
    display: block
    list-style: none
    padding: 10px 10px

  &__word
    cursor: pointer
    list-style: none
    padding: 10px
    transition: background-color 0.3s ease

    &:first-child
      border-top: 1px solid

    &:hover
      background-color: #5b6ac1

  @include mobile
    &__title,
    &__lession_title,
    &__word
      font-size: 14px

    .icon__lock
      width: 15px
      position: relative
      left: -5px
      top: 5px

.hide
  animation: slideInAside 0.5s forwards

.display
  animation: slideOutAside 0.5s forwards

.button__container
  display: flex
  justify-content: flex-end

  svg
    margin-top: 10px

.word__display
  overflow: hidden
  height: auto
  padding: 0

.icon__lock
  position: relative
  left: -5px
  top: 3px

@keyframes slideInAside
  from
    width: 300px
  to
    width: 0

@keyframes slideOutAside
  from
    width: 0
  to
    width: 300px
