@import '../../../public/mixin/index.module'

/* Variables */
$primary-color: #007bff
$secondary-color: #6c757d

/* Profile Styles */
.profile
  display: flex
  justify-content: center

  &__container
    align-items: center
    border-radius: 5px
    display: flex
    flex-direction: column
    padding: 20px
    width: 500px

  &__picture
    border-radius: 50%
    height: 150px
    width: 150px

  &__info
    margin-left: 20px

  &__bio
    margin-top: 5px
    margin-bottom: 10px

  &__details
    list-style: none
    padding: 0

  &__details li
    margin-bottom: 5px

  &__details li strong
    margin-right: 5px
    font-weight: bold

  &__last_name,
  &__name
    text-transform: capitalize

  @include mobile
    margin-top: 0

    &__container
      border-left: none
      border-radius: 0
      border-right: none
      border: solid 1px #e9e9e9
      width: 100%
