@import '../../public/mixin/index.module'

.speech
  display: flex
  flex-direction: column
  align-items: center

  &__icon
    cursor: pointer

  @include mobile
    svg
      width: 30px
    p
      font-size: 1rem
